@*
For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Mission 3";
}




<div class="row d-flex justify-content-center">
    <div class="col-md-6">

        <br /><h1 class="underline">John Behling</h1>
        <br /><p>I enjoy fishing!</p>
        <img src="img/MyFish.jpg" style="width: 20%; height: 25%;" /><br />

        <br /><p>There are several things I hope to get from IS413. Firstly, I am excited to learn ASP.NET, and I hope to become confortable and proficient with using this framework. I'm also excited to learn the fundamentas of C#. Finally, I am eager to learn what basic security measures should be put in my web apps to project my code from malicious attacks.'</p>

        <br /><p>Here is my ranking of careers I would want after graduating:</p>
        <ol>
            <li>Software Developer</li>
            <li>Web Developer</li>
            <li>Business Analytics</li>
        </ol>

        
    </div>
</div>



